doctype html
html
    head
        link(rel="stylesheet" href="css/main.css")
    body
        h1 жирный хер 2 ыфвыф выфавыаsdsda asdasd
        p абзац
        img.image(src='111.jpg')
        script(src="js/app.js")




